body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 20px;
    box-sizing: border-box;
}

#header div {
    font-size: 2vh;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

#gameCanvas {
    background-color: #d9d9d9;
    border: 1px solid black;
    box-sizing: border-box;
}
